{{define "page_content"}}<div class="page state-neutral" id="{{.Page.ID}}"><h2>{{.Page.Title}}</h2><p class="page-content-description">{{.Page.Description}}</p><div class="flash-errors state-neutral">{{template "errors" .}}</div><div class="compoments-loader"><p>Loading</p><div>{{range .Page.WalkContent.Directories}}<p>{{.Root}}</p>{{end}}</div><div>{{range .Page.WalkContent.Files}}<p>description: {{.Description}}</p><p>todo : {{.TODO}}</p><p>file: {{.File}}</p><p>author {{.Author}}</p>{{end}}</div></div></div>{{end}}