{{define "head"}}<head>{{template "metas" .}}<link rel="shortcut icon" href="/public/images/favicon.png">{{template "page_title" .}} {{template "styles" .}}<script src="https://d3js.org/d3.v4.min.js"></script></head>{{end}}