{{define "metas"}}<meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="Application Development Surveillance Platform
      is an application from the future where this frontend is generated
      from a plain text requirements file to manage teams of coders"><meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1"><meta name="mobile-web-app-capable" content="yes"><link rel="icon" sizes="192x192" href="/public/images/android-desktop.png"><meta name="apple-mobile-web-app-capable" content="yes"><meta name="apple-mobile-web-app-status-bar-style" content="black"><meta name="apple-mobile-web-app-title" content="Application Development Surveillance Platform"><link rel="apple-touch-icon-precomposed" href="/public/images/ios-desktop.png"><meta name="msapplication-TileImage" content="/public/images/touch/ms-touch-icon-144x144-precomposed.png"><meta name="msapplication-TileColor" content="#3372DF">{{template "main_sem" .}} {{end}}