{{define "logo"}} <a itemscope itemtype="http://web.abdoulsy.eu/o#Web_Application_Logo" href="/" title="ADSP"><img class="logo-small" src="{{.Logo.FilePath}}" alt="ADSP Logo"><meta itemprop="http://aria.abdoulsy.eu/ADSP/Web_Project#has_logo_image_text" content="ADSP (Application Development Surveillance Platform"></a>{{end}}