{{define "sidebar"}}
  <div    itemscope itemtype="http://web.abdoulsy.eu/o#Always_on_sidebar"
	  class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
    <meta itemprop="http://web.abdoulsy.eu/o#has_bg_color" content="mdl-color--blue-grey-900" />
    <meta itemprop="http://web.abdoulsy.eu/o#has_text_color" content="mdl-color-text--blue-grey-50" />    

    {{template "current_user" .}}
    {{template "nav" .}}
  </div>
{{end}}
