{{define "page_content"}}
<div class="page state-neutral" id="{{.Page.ID}}">
  <p class="page-content-description">
     {{.Page.Description}}
  </p>
  <div class="flash-errors state-neutral">
    {{template "errors" .}}
  </div>
<!-- TODO: Create a Components loader -->
  <div class="compoments-loader">
  {{if .Page.WalkContent.Files}}
   <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
        <th class="mdl-data-table__cell--non-numeric">Kind</th>
        <th class="mdl-data-table__cell--non-numeric">Ref</th>
        <th class="mdl-data-table__cell--non-numeric">Text</th>
        <th class="mdl-data-table__cell--non-numeric">File</th>
      </thead>
      <tbody>
        {{range .Page.WalkContent.Files}}
          {{range .Todos}}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">{{.Kind}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{.Ref}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{.Text}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{.File}}</td>
          </tr>
          {{end}}
        {{end}}
      </tbody>
    </table>
   {{end}}
  </div>
</div>
{{end}}
