{{define "v_layout"}}
<body itemscope itemtype="http://web.abdoulsy.eu/o#Generated_Web_Page">
  <div itemprop="http://web.abdoulsy.eu/o#has_header"
       itemscope itemtype="http://web.abdoulsy.eu/#Headero"
       class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    {{template "top" .}}
    {{template "sidebar" .}}
    {{template "visualisation" .}}
  </div>
    <a itemscope itemtype="http://web.abdoulsy.eu/o#Github_Source_Page_link"
       itemprop="has_URL"
       href="https://github.com/AbdoulSy/ADSP"
       target="_blank"
       id="view-source"
       class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
        View Source
    </a>
   {{template "scripts" .}}
</body>
{{end}}
