{{define "cards"}}
<div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
  {{template "updates" .}}
  <div class="demo-separator mdl-cell--1-col"></div>
  {{template "updated_files" .}}
</div>
{{end}}
